<ion-view view-title="Multitasker">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">To Do:</div>
      <div class="item item-body">
        <div>
          Get this app <b>finished</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">To Buy:</div>
      <div class="item item-body">
        <div>
          Someone to code this for me
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming events:</div>
      <div class="item item-body">
        <div>
          Last day of class <b>29</b> on Friday
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
