*** error.ejs ***

<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/header', {subHeading: 'Error'}) %>

  <main>
    <h3><%= message %></h3>
    <h4><%= error.status %></h4>
    <pre><%= error.stack %></pre>
  </main>

  <%- include('partials/scripts') %>
</body>
</html>




***error.jade***

extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
