***index.ejs***

<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>

  <main>
    <ul class="tasks">
    </ul>

    <h3>Create Task</h3>
    <form id="newTask">
      <label for="task">Task:</label>
      <input type="text" name="task">
      <input type="submit">
    </form>
  </main>

  <%- include('../partials/templates') %>
  <%- include('../partials/scripts') %>
</body>
</html>


***index.jade***

extends layout

block content
  h1= title
  p Welcome to #{title}
