<script type="text/template" id="taskContainer">
  <li class="todo" data-id="{{ id }}">
    {{ contents }}
  </li>
</script>

<script type="text/template" id="taskContents">
    <a class="checkbox" href="#">{{ completed ? "&#9745;" : "&#9744;" }}</a> 
    {{ task }} 
    <a class="small edit-task" href="#">Edit</a> <a class="small delete-task" href="#">Delete</a>
</script>

<script type="text/template" id="taskEdit">
    <form class="task-update">
      <input type="text" value="{{ task }}">
      <input type="submit">
    </form>
</script>

